@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";

}

@functions{
    public string RenderSiteMap(IEnumerable<LookupEntity<SiteMapEntity>> SiteMap)
    {
<ul>
    @foreach (var item in SiteMap)
    {

        @if (item.HasDetails || !item.Entity.HasSubMenu)
        {
            <li>@item.Entity.SiteMapName 
                @if (item.HasDetails)
                {
                    @RenderSiteMap(item.Details)
                }

            </li>
         }

    }

    </ul>

        return null;
    }
}



<div id="Appvue" class="container">

    <div class="row">
        <div class="col">
            <table id="GridView" ref="GridView" class="table">
            </table>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <table id="GridView2" class="table">
            </table>
        </div>

    </div>

</div>

<button></button>

@section app{



    <script defer src="~/scripts/Prueba.js"></script>

}