@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";

}

@functions{
    public string RenderSiteMap(IEnumerable<LookupEntity<SiteMapEntity>> SiteMap)
    {
        <ul>
            @foreach (var item in SiteMap)
            {

                @if (item.HasDetails || !item.Entity.HasSubMenu)
                {
                    <li>
                        @item.Entity.SiteMapName
                        @if (item.HasDetails)
                        {
                            @RenderSiteMap(item.Details)
                        }

                    </li>
                }

            }

        </ul>

        return null;
    }
}


<div id="Appvue" class="container">

    <div class="row">
        <div class="col">

            <v-grid-table id="GridViewVue" :dt.sync="JqGrid" :colums="columnas"
                          urldata="Model" urledit="edit" urldelete="delete"
                          asp-v-security="Model.Seguridad" :buttons="btns"
                          v-model="dataGrid" class="table"
                          v--
                          v-action-pruebamethodo="PruebaMethodo"
                          asp-v-selected="SelectedsTable"></v-grid-table>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <v-grid-table id="GridViewVue2" class="table" :dt.sync="JqGrid2" :colums="columnas"
                          urldata="api/Persona/List" urledit="Error?id" urldelete="Privacy"
                          :security="{Actualizar:true,Eliminar:true}" :buttons="btns"
                          v-model="dataGrid2"
                          v-- v-action-pruebamethodo="otraprueba"
                          :selected.sync="SelectedsTable2"></v-grid-table>
        </div>

    </div>





    <p>{{SelectedsTable}}</p>
    <p>{{SelectedsTable2}}</p>
    <p>{{dataGrid}}</p>
    <p>{{dataGrid2}}</p>


</div>



@section app{


    <script defer src="~/scripts/Prueba.js"></script>

}