@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";

}



<div class="container">
    <div class="row">
        <div class="col">
            <table id="GridView" class="table">
            </table>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <table id="GridView2" class="table">
            </table>
        </div>

    </div>

</div>



@section app{

    

    <script defer src="~/scripts/Prueba.js"></script>

}