@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";

}



<div id="Appvue" class="container">
    <h1>{{Texto}}</h1>
    <input type="text" name="name" v-model="Texto" />
    <div class="row">
        <div class="col">
            <table id="GridView" ref="GridView" class="table">
            </table>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <table id="GridView2" class="table">
            </table>
        </div>

    </div>

</div>

<button></button>

@section app{

    

    <script defer src="~/scripts/Prueba.js"></script>

}