@{ Layout = null;}

<div id="ComponentModal2">

    <button type="button" v-click="Modal=true"> OpenModal</button>

    <nv-modal id="PruebaModal" title="Modal Titulo 2" v-model="Modal">
        
        <h1>hola modal 2</h1>
    </nv-modal>

</div>


@section modulo{
    
    <script src="~/scripts/ModalExam2.js" defer></script>
}

