@page
@model RazorComponent.Pages.Loader.CargarPaginaModel
@{
    Layout = null;
}


<div>

    <h1>Hola mundo  @Model.id     @Model.Parametros.id</h1>
    {{gg}}
    <input type="text" name="name" v-model="gg" /><br />
    <button type="button" v-click="OnClickMe">Clickme</button>
</div>



